p{
    display: inline-block;
}
span{
    display: inline-block;
}
.button1{
    background: rgb(122, 122, 122);
}


.button2{
background: rgb(61, 61, 60);

}
.js-img-button{
    width: 200px;
}
.js-img-button1{
    width: 150px;
}